header {
  nav {
    li {
      a {
        transition: background .3s;
      }
      a {
        &:hover {
          background: $secondary-color;
          border-radius: $border-radius-small;
        }
        &:focus {
          background: $primary-color;
          border-radius: $border-radius-small;
        }
      }
    }
  }
}
  
