

footer {
  text-align: center;
  padding: 15px;

  &.main  {
    img {
      width: 24px;
    }
    a {
      display: inline-block;
      padding: 5px 10px;
    }
    p {
      font-size: 1.2rem;
    }
  }

}
